* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  position: fixed;
  top: 100px;
  left: 300px;
  border: solid black 1px;
}

#loading {
  position: fixed;
  width: 50px;
  height: 50px;
  left: 66vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  transition: 0.1s;
  background: black;
  animation: rotate 2s infinite;
  display: none;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
#header {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  font-size: 30px;
  margin-top: 20px;
  /* line-height: 60px; */
}

#formCont {
  margin-top: 10px;
}

#formTitle {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
}

input[type="file"] {
  display: none;
}

.button {
  display: inline-block;
  padding: 4px 8px;
  cursor: pointer;
  background: black;
  border: none;
  /* color: #ede3d3; */
  color: white;
  font-size: 12px;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 500;
  transition: 100ms;
}
.button:hover {
  opacity: 0.5;
}

#leftCont {
  /* background: #ede3d3; */
  position: fixed;
  top: 0px;
  left: 0px;
  width: 40vw;
  padding: 30px;
  height: 100vh;
  overflow-y: scroll;
}

#imgContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#artistList {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

#artistInfo {
  display: flex;
  flex-direction: column;
  width: 200px;
  position: fixed;
  top: 100px;
  right: 100px;
}

#artistInfo p {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  font-size: 12px;
  margin: 0;
  margin-bottom: 20px;
}

.sentimentAnalysis {
  margin-top: -10px;
}

.sentimentAnalysis p {
  position: relative;
  left: 20px;
  line-height: 5px;
}

.sentimentAnalysis .sum {
  position: relative;
  left: 80px;
}

.colorPalette {
  display: flex;
  flex-direction: row;
  margin-top: -10px;
  margin-bottom: 20px;
  height: 20px;
}

.colorPalette div {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

#artistList button {
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 14px;

}

#artistList button:hover {
  opacity: 0.5;
}

.copy {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  text-align: left;
}








