* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  position: fixed;
  top: 50px;
  left: 50vw;
  transform: translateX(-50%);
  /* border: solid black 1px; */
}

#options {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 2;
  position: fixed;
  display: block;
}

#logoCreator {
  display: flex;
  flex-direction: column;
}

#seedCont {
  width: 250px;
}
#randomizeSeed {
  margin-top: 10px;
}



#menu {
  position: fixed;
  left: 20px;
  display: flex;
  width: 600px;
  z-index: 2;
  top: 50px;
}


#genColumn {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}


#clearButton {
  position: relative;
  margin-top: 20px;
}

.row {
  display: flex;
  flex-flow: column;
  height: 100%;
  position: relative;
}

.sign {
  width: 30px;
}

.sign button {
  text-align: center;
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  justify-items: center;
  font-size: 14px;
  font-weight: 600;
  border-radius: 50%;
}



.disabled {
  cursor: default;
  opacity: 20%;
}


.artist {
  width: 160px;
  margin-left: 5px;

}

.artist div {
  margin: 5px;
  /* height: 26px; */
  display: flex;
  align-content: center; 
  align-items: center;
  text-align: left;
  font-size: 12px;
  font-weight: 600;
  padding: 2px;
}

#formCont > * {
  margin-top: 10px;
}

.container {
  border: black 1px solid;
  /* top: 150px; */
  /* position: relative; */
  padding: 10px;
  background: white;
  margin-right: 5px;
  margin-bottom: 5px;

}

#errorMessage {
  color: red;
  position: relative;
  height: 50px;
  /* left: 70px; */
  top: 10px;
  display: none;
}

#loadingMessage {
  position: relative;
  top: 10px;
  margin-bottom: 20px;
  display: none;
}

button, .button {
  display: inline-block;
  padding: 4px 8px;
  cursor: pointer;
  border: none;
  background-color: white;
  border: solid black 1px;
  font-size: 12px;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 500;
}

.button:hover {
  background: black;
  color: white;
}

#infoCont {
  width: 150px;
  height: 540px;
  padding: 5px;
}

#infoCont p {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  text-align: left;
  margin-left: 5px;
}

.titles {
  margin-top: 20px;
  margin-bottom: 10px;
}

.first {
  margin-top: 10px;
}

input[type=text]{
  padding: 2px;
  margin-left: 5px;
  border-radius: 0px;
  border: solid 1px gray;
}

#imageType {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 200;
  font-size: 12px;
  border-radius: 0;
}

#fileName {
  width: 90px;
}

#saveCont {
  width: 170px;
  height: 120px;
}

#saveCont > * {
  margin-top: 10px;
}

.items {
  position: relative;
  left: 10px;
  top: -5px;
  line-height: 20px;

}




#palette div {
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-right: 2px;
}

#artistList {
  width: 250px;
}

#artistList button {
  /* background: none; */
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 12px;
  margin-bottom: 5px;

}

#artistList button:hover {
  background: black;
  color: white;
}

.selected {
  background: black;
  color: white;
  cursor: pointer;
}

.copy, p {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  text-align: left;
}

#randomSeed {
  -webkit-appearance: none; 
  appearance: none;
  width: 100%;
  height: 2px; 
  background:black; 
  outline: none; 
  transition: opacity .2s;
}

#randomSeed::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  /* border-radius: 50%; */
  width: 12px;
  height: 12px; 
  background: black; 
  cursor: pointer; 
}

#randomSeed::-moz-range-thumb {
  /* border-radius: 50%; */
  width: 12px;
  height: 12px; 
  background: black; 
  cursor: pointer; 
}
